@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply font-display;
    }
}

@layer components {
    .form-input {
        @apply transition-all duration-200;
    }
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    font-size: 24px;
}
